## Table Of Contents


- [Store CSV into DataFrame](#Store-CSV-into-DataFrame)
- [Data Exploration](#Data-Exploration)
- [Data Clean-Up Process](#New-Data-With-Selected-Columns)
- [Database Process](#Database-Process)
- [Queries](#Queries)


  ### [Project Report](https://docs.google.com/document/d/1qSFce4Ubi3k_l5FdNinCG_Jhylltwt4KJD3ewPj3d9c/edit?usp=sharing)

### Libraries

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from config import password

### Store CSV into DataFrame

In [3]:
# Cambridge Listing --> CSV file
cambridge_path_listings = "../ETLProject/Resources/Cambridge_Listings1.csv"
cambridge_listings = pd.read_csv(cambridge_path_listings)
cambridge_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,8521,https://www.airbnb.com/rooms/8521,20191126082128,2019-11-26,SunsplashedSerenity near Harvard $1300/wk flex...,"An elegant, sun-splashed, 2 bedroom (+2offices...","An elegant, sun-splashed, 2+ bedroom apartment...","An elegant, sun-splashed, 2 bedroom (+2offices...",none,Huron Village is known for its charm. We have...,...,f,f,strict_14_with_grace_period,f,f,3,3,0,0,0.26
1,11169,https://www.airbnb.com/rooms/11169,20191126082128,2019-11-26,Lovely Studio Room: Thu-Mons Near Universities!,Large sunny room which comfortably fits a coup...,"We have a peaceful, large, sunny room w/ attac...",Large sunny room which comfortably fits a coup...,none,The neighborhood is quiet and friendly and our...,...,f,f,strict_14_with_grace_period,t,t,4,1,3,0,1.22
2,11945,https://www.airbnb.com/rooms/11945,20191126082128,2019-11-26,Near Harvard: Safe & Lovely Room,Room next to kitchen and living room in wonder...,"Quiet peaceful room w/shared marble bath, wifi...",Room next to kitchen and living room in wonder...,none,Amazing neighborhood: Quiet yet close walk to ...,...,f,f,strict_14_with_grace_period,t,t,4,1,3,0,0.27
3,19581,https://www.airbnb.com/rooms/19581,20191126082128,2019-11-26,"Furnished suite, Windsor","Welcome to Area IV! We are located, convenient...","Furnished suite at the Windsor Inn, Cambridge....","Welcome to Area IV! We are located, convenient...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,3,0,3,0,0.05
4,22006,https://www.airbnb.com/rooms/22006,20191126082128,2019-11-26,B & B near Harvard's Quad Houses,"Two comfortable guest rooms in quiet, tree-fil...","Comfortable, convenient B&B at the north end o...","Two comfortable guest rooms in quiet, tree-fil...",none,"We're in a beautiful neighborhood, with nearby...",...,f,f,moderate,f,f,1,0,1,0,0.89

In [4]:
# Cambridge Reviews -> CSV file
cambridge_path_reviews = "../ETLProject/Resources/Cambridge_Reviews.csv"
cambridge_reviews = pd.read_csv(cambridge_path_reviews)
cambridge_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,8521,6009,2009-07-23,25629,Mara,This is a fabulous apartment! Great neighborh...
1,8521,6386,2009-07-30,26357,Stephanie,"Wonderful host and hostess, great home, locati..."
2,8521,6910163,2013-08-30,5747319,Lynette,We had a delightful 2 week stay in Cambridge. ...
3,8521,37307811,2015-07-06,27670573,Salina,We had a great time during our short stay in C...
4,8521,38475589,2015-07-16,10811805,Benoni,Janet's place is as beautiful as portrayed. Ni...

### Data Exploration

In [5]:
# Data Types - Listings
cambridge_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Columns: 106 entries, id to reviews_per_month
dtypes: float64(22), int64(22), object(62)
memory usage: 1.0+ MB

In [6]:
# Looking for Missing Values --> Listings
cambridge_listings.isnull().sum()

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
name                                               0
summary                                           29
space                                            263
description                                       10
experiences_offered                                0
neighborhood_overview                            339
notes                                            623
transit                                          339
access                                           506
interaction                                      435
house_rules                                      430
thumbnail_url                                   1277
medium_url                                      1277
picture_url                                        0
xl_picture_url                                  1277
host_id                                            0
host_url                                           0
host_name                                          1
host_since                                         1
host_location                                      5
host_about                                       434
host_response_time                               184
host_response_rate                               184
host_acceptance_rate                            1277
host_is_superhost                                  1
host_thumbnail_url                                 1
                                                ...
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
calendar_last_scraped                              0
number_of_reviews                                  0
number_of_reviews_ltm                              0
first_review                                     178
last_review                                      178
review_scores_rating                             190
review_scores_accuracy                           190
review_scores_cleanliness                        190
review_scores_checkin                            190
review_scores_communication                      190
review_scores_location                           190
review_scores_value                              190
requires_license                                   0
license                                         1182
jurisdiction_names                                 0
instant_bookable                                   0
is_business_travel_ready                           0
cancellation_policy                                0
require_guest_profile_picture                      0
require_guest_phone_verification                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                178
Length: 106, dtype: int64

In [7]:
# Data Types - Reviews
cambridge_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64199 entries, 0 to 64198
Data columns (total 6 columns):
listing_id       64199 non-null int64
id               64199 non-null int64
date             64199 non-null object
reviewer_id      64199 non-null int64
reviewer_name    64197 non-null object
comments         64169 non-null object
dtypes: int64(3), object(3)
memory usage: 2.9+ MB

In [8]:
# Looking for Missing Values --> Reviews
cambridge_reviews.isnull().sum()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     2
comments         30
dtype: int64

### Data Clean-Up Process

In [9]:
# Data Frame 
listings_locations_df = cambridge_listings[['id', 'city', 'state','zipcode','latitude','longitude']].copy()
listing_details_df = cambridge_listings[['id', 'name', 'summary', 'property_type','bathrooms','bedrooms', 'beds']].copy()
Url_df = cambridge_listings[['id', 'listing_url', 'picture_url']].copy()
hosts_df = cambridge_listings[['id', 'host_id', 'host_url','host_name','host_since','host_location','host_response_rate']].copy()
cambridge_reviews_df = cambridge_reviews[['listing_id','id','date','reviewer_id','reviewer_name','comments']]

In [10]:
#Strips \"%\" from host_response_rate and converts to a float value (\"100%\" to \"1.0\")\n",
hosts_df['host_response_rate'] = hosts_df['host_response_rate'].str.rstrip('%').astype('float') / 100.0

In [11]:
# Preview Listing Locations
listings_locations_df.head()

      id       city state zipcode  latitude  longitude
0   8521  Cambridge    MA   02138  42.38329  -71.13617
1  11169  Cambridge    MA   02140  42.39469  -71.13223
2  11945  Cambridge    MA   02140  42.39454  -71.13431
3  19581  Cambridge    MA   02139  42.36276  -71.09765
4  22006  Cambridge    MA   02140  42.38670  -71.12387

In [12]:
# Preview Listing Details
listing_details_df.head()

,id,name,summary,property_type,bathrooms,bedrooms,beds
0,8521,SunsplashedSerenity near Harvard $1300/wk flex...,"An elegant, sun-splashed, 2 bedroom (+2offices...",Apartment,1.0,2,2.0
1,11169,Lovely Studio Room: Thu-Mons Near Universities!,Large sunny room which comfortably fits a coup...,House,1.0,1,1.0
2,11945,Near Harvard: Safe & Lovely Room,Room next to kitchen and living room in wonder...,Condominium,1.0,1,1.0
3,19581,"Furnished suite, Windsor","Welcome to Area IV! We are located, convenient...",Bed and breakfast,1.0,1,1.0
4,22006,B & B near Harvard's Quad Houses,"Two comfortable guest rooms in quiet, tree-fil...",House,2.5,1,1.0

In [13]:
# Preview Url
Url_df.head()

,id,listing_url,picture_url
0,8521,https://www.airbnb.com/rooms/8521,https://a0.muscache.com/im/pictures/30536/072e...
1,11169,https://www.airbnb.com/rooms/11169,https://a0.muscache.com/im/pictures/75383179/7...
2,11945,https://www.airbnb.com/rooms/11945,https://a0.muscache.com/im/pictures/88bf993e-1...
3,19581,https://www.airbnb.com/rooms/19581,https://a0.muscache.com/im/pictures/188f1b4b-f...
4,22006,https://www.airbnb.com/rooms/22006,https://a0.muscache.com/im/pictures/10277743/5...

In [14]:
# Preview Host Info
hosts_df.head()

,id,host_id,host_url,host_name,host_since,host_location,host_response_rate
0,8521,306681,https://www.airbnb.com/users/show/306681,Janet,2010-12-01,"Cambridge, Massachusetts, United States",1.0
1,11169,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
2,11945,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
3,19581,74249,https://www.airbnb.com/users/show/74249,Marc And Patty,2010-01-27,"Cambridge, Massachusetts, United States",1.0
4,22006,84280,https://www.airbnb.com/users/show/84280,Blue,2010-02-22,"Cambridge, Massachusetts, United States",1.0

In [15]:
# Preview Host Info
hosts_df.head()

,id,host_id,host_url,host_name,host_since,host_location,host_response_rate
0,8521,306681,https://www.airbnb.com/users/show/306681,Janet,2010-12-01,"Cambridge, Massachusetts, United States",1.0
1,11169,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
2,11945,40965,https://www.airbnb.com/users/show/40965,Mazzy,2009-09-24,"Cambridge, Massachusetts, United States",1.0
3,19581,74249,https://www.airbnb.com/users/show/74249,Marc And Patty,2010-01-27,"Cambridge, Massachusetts, United States",1.0
4,22006,84280,https://www.airbnb.com/users/show/84280,Blue,2010-02-22,"Cambridge, Massachusetts, United States",1.0

### Database Process

In [16]:
# Connect to local database
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Airbnb')

In [17]:
# Check for table
engine.table_names()

['hosts', 'listings_locations', 'listings_details', 'url']

In [18]:
# Use pandas to load csv converted DataFrame into database
listings_locations_df.to_sql(name='listings_locations', con=engine,if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "listings_locations_pkey"
DETAIL:  Key (id)=(8521) already exists.

[SQL: INSERT INTO listings_locations (id, city, state, zipcode, latitude, longitude) VALUES (%(id)s, %(city)s, %(state)s, %(zipcode)s, %(latitude)s, %(longitude)s)]
[parameters: ({'id': 8521, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02138', 'latitude': 42.38329, 'longitude': -71.13616999999999}, {'id': 11169, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02140', 'latitude': 42.394690000000004, 'longitude': -71.13223}, {'id': 11945, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02140', 'latitude': 42.39454, 'longitude': -71.13431}, {'id': 19581, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02139', 'latitude': 42.362759999999994, 'longitude': -71.09765}, {'id': 22006, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02140', 'latitude': 42.3867, 'longitude': -71.12387}, {'id': 24063, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02138', 'latitude': 42.376059999999995, 'longitude': -71.14041}, {'id': 27498, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02139', 'latitude': 42.36381, 'longitude': -71.09754000000001}, {'id': 79762, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02139', 'latitude': 42.37057, 'longitude': -71.10029}  ... displaying 10 of 1277 total bound parameter sets ...  {'id': 40092989, 'city': 'Cambridge', 'state': 'MA', 'zipcode': '02141', 'latitude': 42.37108, 'longitude': -71.08634}, {'id': 40327298, 'city': 'Brookline', 'state': 'MA', 'zipcode': '02446', 'latitude': 42.34875, 'longitude': -71.10710999999999})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
listing_details_df.to_sql(name='listings_details', con=engine,if_exists='append', index=False)

In [ ]:
Url_df.to_sql(name='url', con=engine,if_exists='append', index=False)

In [ ]:
hosts_df.to_sql(name='hosts', con=engine,if_exists='append', index=False)

In [ ]:
cambridge_reviews_df.to_sql(name='reviews', con=engine,if_exists='append', index=False)

### Queries

In [ ]:
# Hosts
pd.read_sql_query('select * from hosts', con=engine)

In [19]:
# Listings Locations
pd.read_sql_query('select * from listings_locations', con=engine)

            id           city state   zipcode  latitude  longitude
0         8521      Cambridge    MA     02138  42.38329  -71.13617
1        11169      Cambridge    MA     02140  42.39469  -71.13223
2        11945      Cambridge    MA     02140  42.39454  -71.13431
3        19581      Cambridge    MA     02139  42.36276  -71.09765
4        22006      Cambridge    MA     02140  42.38670  -71.12387
5        24063      Cambridge    MA     02138  42.37606  -71.14041
6        27498      Cambridge    MA     02139  42.36381  -71.09754
7        79762      Cambridge    MA     02139  42.37057  -71.10029
8       106474      Cambridge    MA     02139  42.36270  -71.09645
9       108898      Cambridge    MA     02138  42.38377  -71.13543
10      219471      Cambridge    MA     02139  42.36109  -71.10425
11      231115      Cambridge    MA     02139  42.36680  -71.10673
12      257645      Cambridge    MA     02138  42.38375  -71.12955
13      280304      Cambridge    MA     02138  42.37083  -71.11402
14      314465      Cambridge    MA     02139  42.35965  -71.10556
15      321847      Cambridge    MA     02139  42.36498  -71.09869
16      326170      Cambridge    MA     02138  42.38247  -71.11403
17      365220     Somerville    MA     02144  42.38817  -71.12898
18      405144  Mid-Cambridge    MA     02138  42.37125  -71.11105
19      405548  Huron Village    MA     02138  42.38258  -71.13710
20      445407  Mid-Cambridge    MA     02141  42.37363  -71.08909
21      459074      Cambridge    MA     02139  42.36291  -71.10435
22      461525      Cambridge    MA     02138  42.37273  -71.11168
23      464471      Cambridge    MA     02139  42.37317  -71.09743
24      577384      Cambridge    MA     02139  42.36598  -71.09909
25      715532      Cambridge    MA     02140  42.39420  -71.13202
26      742574      Cambridge    MA     02139  42.36486  -71.10328
27      798213      Cambridge    MA     02140  42.40135  -71.13569
28      810461      Cambridge    MA     02139  42.37047  -71.09781
29      860634      Cambridge    MA     02138  42.38391  -71.11449
...        ...            ...   ...       ...       ...        ...
1247  39728795      Cambridge    MA     02140  42.39191  -71.13079
1248  39747422      Cambridge    MA  MA 02139  42.36380  -71.09909
1249  39747612      Cambridge    MA  MA 02139  42.36433  -71.10041
1250  39756220      Cambridge    MA     02139  42.36224  -71.10828
1251  39756346      Cambridge    MA     02139  42.36162  -71.11003
1252  39756515      Cambridge    MA     02139  42.36360  -71.10855
1253  39756601      Cambridge    MA     02139  42.36296  -71.10894
1254  39778340     Somerville    MA     02144  42.38616  -71.11619
1255  39787306      Cambridge    MA     02139  42.36861  -71.09601
1256  39815404      Cambridge    MA     02139  42.36562  -71.11410
1257  39856289     Somerville    MA     02144  42.38774  -71.11745
1258  39864033     Cambridge     MA     02141  42.36922  -71.09533
1259  39864255      Cambridge    MA     02141  42.37140  -71.07307
1260  39866038      Cambridge    MA     02141  42.37348  -71.09045
1261  39895736      Cambridge    MA      None  42.36456  -71.10253
1262  39908171      Cambridge    MA  MA 02140  42.38550  -71.11596
1263  39908320      Cambridge    MA  MA 02140  42.38438  -71.11655
1264  39908347      Cambridge    MA  MA 02140  42.38508  -71.11613
1265  39908417      Cambridge    MA  MA 02139  42.36998  -71.10803
1266  39918050      Cambridge    MA      None  42.36603  -71.10346
1267  39918227      Cambridge    MA      None  42.36669  -71.10351
1268  39984608      Cambridge    MA     02139  42.35859  -71.10966
1269  40007328     Somerville    MA     02143  42.37820  -71.09452
1270  40064240      Cambridge    MA     02138  42.37732  -71.14971
1271  40064507      Cambridge    MA     02138  42.37678  -71.14914
1272  40064688      Cambridge    MA     02142  42.36452  -71.07888
1273  40080356      Cambridge    MA     02139  42.36254  -71.11145
1274  40092525      Cambridge    MA     02141  42.37060  -71.08737
1275  40092989      Cambridge    MA     02141  42.37108  -71.08634
1276  40327298      Brookline    MA     02446  42.34875  -71.10711

[1277 rows x 6 columns]

In [20]:
# Listings Details
pd.read_sql_query('select * from listings_details', con=engine)

,id,name,summary,property_type,bathrooms,bedrooms,beds
0,8521,SunsplashedSerenity near Harvard $1300/wk flex...,"An elegant, sun-splashed, 2 bedroom (+2offices...",Apartment,1,2,2.0
1,11169,Lovely Studio Room: Thu-Mons Near Universities!,Large sunny room which comfortably fits a coup...,House,1,1,1.0
2,11945,Near Harvard: Safe & Lovely Room,Room next to kitchen and living room in wonder...,Condominium,1,1,1.0
3,19581,"Furnished suite, Windsor","Welcome to Area IV! We are located, convenient...",Bed and breakfast,1,1,1.0
4,22006,B & B near Harvard's Quad Houses,"Two comfortable guest rooms in quiet, tree-fil...",House,3,1,1.0
5,24063,Riverbend Bed and Breakfast,"Private bedroom, host provides simple breakfas...",House,1,1,2.0
6,27498,Furnished suite 2 @ the Windsor,"Welcome to Area IV! We are located, convenient...",Bed and breakfast,1,1,1.0
7,79762,Cambridge Getaway @ Harvard & MIT,Charming 2-bedroom apartment on the third floo...,Apartment,1,2,2.0
8,106474,large furnished suite in Central sq,"Welcome to Area IV! We are located, convenient...",Bed and breakfast,1,1,1.0
9,108898,"""The Treehouse"": Elegant living near Harvard","An elegant, contemporary top-floor unit in the...",Apartment,1,1,1.0
10,219471,"Best @ MIT, Kendall, Back Bay, Harvard, BU",Serene and superb daily escape from the high e...,Apartment,1,1,1.0
11,231115,HARVARD MIT STANDALONE CARRIAGE HOUSE LOFT!,Standalone private artist's carriage house lof...,House,1,1,1.0
12,257645,Lovely Guest Room (Women Only),None,Apartment,1,1,1.0
13,280304,#17-2 Large 1BR Apt. in Harvard Sq!,Large second floor apartment unit in Harvard S...,Apartment,1,1,1.0
14,314465,"Great House, Great Location",None,House,3,3,6.0
15,321847,"New condo in Central Sq - 2BR, 2BA",Close to MIT and Harvard. Just 5 minute walk t...,Condominium,2,2,4.0
16,326170,Two-room suite near Harvard Univ.,"Lovely, private suite with bedroom and study, ...",Guest suite,1,1,1.0
17,365220,Davis Square Studio!,"Lovely, cozy alcove studio apartment on first ...",Apartment,1,1,1.0
18,405144,Apartment in Harvard's Backyard,None,Apartment,1,1,1.0
19,405548,Holidays in Cambridge $150/night (flexible),"Spend the holidays in this elegant, contempora...",Apartment,1,2,4.0
20,445407,East Cambridge Apartment,Our four bedroom home is tucked away in a wond...,Apartment,2,4,6.0
21,459074,Studio steps from MIT and Harvard!,None,Guest suite,1,1,0.0
22,461525,Perfect Harvard Sq. apt - 7 min walk to HBS/HKS,None,Apartment,1,2,0.0
23,464471,"HarvardMIT,InmanSq,clean,sunny apt.",None,House,1,1,1.0
24,577384,Large Room with Shared Bath,We are located close to Massachusetts Avenue i...,House,1,1,1.0
25,715532,"Quiet, Artistically Decorated Cambridge Apartment",None,Apartment,1,1,1.0
26,742574,See Yourself in Central Square,None,Apartment,1,1,2.0
27,798213,Cambridge-Alewife-Davis-Tufts-Porter Sq-Harvar...,"Clean, quiet and comfortable Airbnb private be...",Apartment,1,1,1.0
28,810461,Suite Central B&B in the Heart of Cambridge,"Lovely, cozy suite: your own entrance, bedroom...",House,1,1,1.0
29,860634,Home on quiet street near Harvard,None,House,1,1,1.0
...,...,...,...,...,...,...,...
1247,39728795,"New House near Harvard, MIT, Davis Square ...",Previous superhost 5-star review listing back ...,House,2,2,3.0
1248,39747422,Trendy Central Square 2BR w/ W/D near MIT & Ke...,Feel at home wherever you choose to live with ...,Apartment,2,2,2.0
1249,39747612,Central Square 1BR w/ W/D near MIT & Kendall S...,Show up and start living from day one in Cambr...,Apartment,1,1,1.0
1250,39756220,"Neighborhood home close to MIT, HARVARD, BU",Located on a quiet side street in Cambridgepor...,Apartment,1,1,1.0
1251,39756346,Private Room in Furnished home,Located on a quiet side street in Cambridgepor...,Apartment,1,1,1.0
1252,39756515,Private room in renovated home,Located on a quiet side street in Cambridgepor...,Apartment,1,1,1.0
1253,39756601,â˜… Stylish 3 bed â˜… MIT/Harvard â˜… Walk Everywhere â˜…,"Are you in Cambridge for business, school, sta...",Apartment,1,3,3.0
1254,39778340,"Close to Harvard, MIT on Redline in Porter Sq....",This bright gray house is situated on the corn...,Apartment,1,1,1.0
1255,39787306,Incredible studio located between Harvard and MIT,Incredible studio situated between Harvard and...,Apartment,1,0,2.0
1256,39815404,Lovely sunny 2-bedroom apt between Hvd & Central,"Sunny, spacious, comfortable centrally-located...",Condominium,1,2,2.0
1257,39856289,"Near Porter Sq Redline T, close to Harvard, MIT",The private bedroom is a few steps away from P...,Apartment,1,1,1.0
1258,39864033,MIT Harvard very close house !,None,Cabin,2,1,1.0
1259,39864255,Luxury One Bedroom apartment,Luxury One Bedroom Apartment East Cambridge,Apartment,1,1,1.0
1260,39866038,Light-filled apartment right near Inman Square,"Spacious, light-filled apartment just outside ...",Apartment,1,1,1.0
1261,39895736,Pet-Friendly Furnished 2BR in Cambridge,"At Zeus, we focus exclusively on 30 day+ stays...",Apartment,1,2,2.0
1262,39908171,Well-Located Porter Square 1BR in Harvard Squa...,Show up and start living from day one in Cambr...,Apartment,1,1,1.0
1263,39908320,Porter Square 1BR w/ W/D in building by Bluegr...,Feel at home wherever you choose to live with ...,Apartment,1,1,1.0
1264,39908347,Porter Square 1BR w/ W/D in building in Harvar...,Show up and start living from day one in Cambr...,Apartment,1,1,1.0
1265,39908417,"Harvard Sq 1BR w/ Balcony, near Shops & Campus...","Discover the best of Cambridge, with this one-...",Apartment,1,1,1.0
1266,39918050,Pet-Friendly Furnished 1BR in Cambridge,"At Zeus, we focus exclusively on 30 day+ stays...",Apartment,1,1,1.0
1267,39918227,"Lovely Furnished 2BR in Cambridge, Pet-Friendly","At Zeus, we focus exclusively on 30 day+ stays...",Apartment,1,2,2.0
1268,39984608,Living room space in a minimalist apartment!,I have an air mattress and hangers for a short...,Apartment,1,1,0.0
1269,40007328,hidden gem in Union Square,"Right in the heart of Union Square, Somerville...",Condominium,1,1,2.0
1270,40064240,Just 10 Minutes To Harvard,"close to lake, parks, star market, coffee shop...",House,1,1,NaN
1271,40064507,Just Ten Minutes To Harvard,"Very close to public transport, just 5 minutes...",House,1,1,1.0
1272,40064688,Walking Distance to Downtown,This apartment is located perfectly. I really ...,Apartment,1,1,3.0
1273,40080356,Winter Holiday in Cambridge with Cutest Dog Ever!,I am looking for someone to dog sit in my 3 le...,Condominium,2,2,2.0
1274,40092525,Cheap room from Dec 20 to Jan 8 in Cambridge (...,This is my own room. Since I will travel durin...,Apartment,1,1,NaN
1275,40092989,Cambridge å…¬å¯“å•é—´åœ£è¯žèŠ‚æœŸé—´ä½Žä»·å‡ºç§Ÿ,"åœ£è¯žèŠ‚æœŸé—´å›žå›½, è‡ªå·±çš„å…¬å¯“å‡ºç§Ÿï½¡å…¬å¯“è®¾æ–½é½å…¨,äº¤é€šä¾¿åˆ©,è·ç¦»MIT æ­¥è¡Œ15åˆ†é’Ÿ,é€‚åˆçŸ­æœŸ...",Apartment,1,1,1.0
1276,40327298,Walk to BU/Fenway-Free Parking! Close to Downtown,Our spacious 2 bedroom apartment is set on a q...,Apartment,1,2,3.0

In [21]:
# Url
pd.read_sql_query('select * from url', con=engine)

,id,listing_url,picture_url
0,8521,https://www.airbnb.com/rooms/8521,https://a0.muscache.com/im/pictures/30536/072e...
1,11169,https://www.airbnb.com/rooms/11169,https://a0.muscache.com/im/pictures/75383179/7...
2,11945,https://www.airbnb.com/rooms/11945,https://a0.muscache.com/im/pictures/88bf993e-1...
3,19581,https://www.airbnb.com/rooms/19581,https://a0.muscache.com/im/pictures/188f1b4b-f...
4,22006,https://www.airbnb.com/rooms/22006,https://a0.muscache.com/im/pictures/10277743/5...
5,24063,https://www.airbnb.com/rooms/24063,https://a0.muscache.com/im/pictures/2666918/fe...
6,27498,https://www.airbnb.com/rooms/27498,https://a0.muscache.com/im/pictures/bab30c3c-f...
7,79762,https://www.airbnb.com/rooms/79762,https://a0.muscache.com/im/pictures/540299/82c...
8,106474,https://www.airbnb.com/rooms/106474,https://a0.muscache.com/im/pictures/f4794a48-e...
9,108898,https://www.airbnb.com/rooms/108898,https://a0.muscache.com/im/pictures/4382175/58...
10,219471,https://www.airbnb.com/rooms/219471,https://a0.muscache.com/im/pictures/aa83ac8d-4...
11,231115,https://www.airbnb.com/rooms/231115,https://a0.muscache.com/im/pictures/2419060/a3...
12,257645,https://www.airbnb.com/rooms/257645,https://a0.muscache.com/im/pictures/04e75307-0...
13,280304,https://www.airbnb.com/rooms/280304,https://a0.muscache.com/im/pictures/60347534/7...
14,314465,https://www.airbnb.com/rooms/314465,https://a0.muscache.com/im/pictures/8491054/2b...
15,321847,https://www.airbnb.com/rooms/321847,https://a0.muscache.com/im/pictures/3883621/7e...
16,326170,https://www.airbnb.com/rooms/326170,https://a0.muscache.com/im/pictures/3537183/d4...
17,365220,https://www.airbnb.com/rooms/365220,https://a0.muscache.com/im/pictures/43097672/e...
18,405144,https://www.airbnb.com/rooms/405144,https://a0.muscache.com/im/pictures/4569264/44...
19,405548,https://www.airbnb.com/rooms/405548,https://a0.muscache.com/im/pictures/4576262/71...
20,445407,https://www.airbnb.com/rooms/445407,https://a0.muscache.com/im/pictures/5736349/41...
21,459074,https://www.airbnb.com/rooms/459074,https://a0.muscache.com/im/pictures/dc8133d7-5...
22,461525,https://www.airbnb.com/rooms/461525,https://a0.muscache.com/im/pictures/5411151/6d...
23,464471,https://www.airbnb.com/rooms/464471,https://a0.muscache.com/im/pictures/42254246/9...
24,577384,https://www.airbnb.com/rooms/577384,https://a0.muscache.com/im/pictures/17961284/4...
25,715532,https://www.airbnb.com/rooms/715532,https://a0.muscache.com/im/pictures/73161068/4...
26,742574,https://www.airbnb.com/rooms/742574,https://a0.muscache.com/im/pictures/12207115/8...
27,798213,https://www.airbnb.com/rooms/798213,https://a0.muscache.com/im/pictures/28446348/a...
28,810461,https://www.airbnb.com/rooms/810461,https://a0.muscache.com/im/pictures/17748229/8...
29,860634,https://www.airbnb.com/rooms/860634,https://a0.muscache.com/im/pictures/84a0e5df-1...
...,...,...,...
1247,39728795,https://www.airbnb.com/rooms/39728795,https://a0.muscache.com/im/pictures/53ed6056-3...
1248,39747422,https://www.airbnb.com/rooms/39747422,https://a0.muscache.com/im/pictures/da99e670-b...
1249,39747612,https://www.airbnb.com/rooms/39747612,https://a0.muscache.com/im/pictures/820ae50d-f...
1250,39756220,https://www.airbnb.com/rooms/39756220,https://a0.muscache.com/im/pictures/13b1e1df-6...
1251,39756346,https://www.airbnb.com/rooms/39756346,https://a0.muscache.com/im/pictures/f5957d32-2...
1252,39756515,https://www.airbnb.com/rooms/39756515,https://a0.muscache.com/im/pictures/9655371a-b...
1253,39756601,https://www.airbnb.com/rooms/39756601,https://a0.muscache.com/im/pictures/f5957d32-2...
1254,39778340,https://www.airbnb.com/rooms/39778340,https://a0.muscache.com/im/pictures/728bad21-3...
1255,39787306,https://www.airbnb.com/rooms/39787306,https://a0.muscache.com/im/pictures/44aede9e-c...
1256,39815404,https://www.airbnb.com/rooms/39815404,https://a0.muscache.com/im/pictures/0251499f-5...
1257,39856289,https://www.airbnb.com/rooms/39856289,https://a0.muscache.com/im/pictures/12ec4ad5-e...
1258,39864033,https://www.airbnb.com/rooms/39864033,https://a0.muscache.com/im/pictures/4ac8f9b7-9...
1259,39864255,https://www.airbnb.com/rooms/39864255,https://a0.muscache.com/im/pictures/043b2982-c...
1260,39866038,https://www.airbnb.com/rooms/39866038,https://a0.muscache.com/im/pictures/10f14e50-4...
1261,39895736,https://www.airbnb.com/rooms/39895736,https://a0.muscache.com/im/pictures/bb6e3390-e...
1262,39908171,https://www.airbnb.com/rooms/39908171,https://a0.muscache.com/im/pictures/57ac504c-c...
1263,39908320,https://www.airbnb.com/rooms/39908320,https://a0.muscache.com/im/pictures/984de0a5-4...
1264,39908347,https://www.airbnb.com/rooms/39908347,https://a0.muscache.com/im/pictures/bf57bce7-3...
1265,39908417,https://www.airbnb.com/rooms/39908417,https://a0.muscache.com/im/pictures/10bb1df4-5...
1266,39918050,https://www.airbnb.com/rooms/39918050,https://a0.muscache.com/im/pictures/63c5cd3e-c...
1267,39918227,https://www.airbnb.com/rooms/39918227,https://a0.muscache.com/im/pictures/085aebf6-d...
1268,39984608,https://www.airbnb.com/rooms/39984608,https://a0.muscache.com/im/pictures/c2215d9d-6...
1269,40007328,https://www.airbnb.com/rooms/40007328,https://a0.muscache.com/im/pictures/ca43fcc7-0...
1270,40064240,https://www.airbnb.com/rooms/40064240,https://a0.muscache.com/im/pictures/22ea06c0-d...
1271,40064507,https://www.airbnb.com/rooms/40064507,https://a0.muscache.com/im/pictures/22ea06c0-d...
1272,40064688,https://www.airbnb.com/rooms/40064688,https://a0.muscache.com/im/pictures/cfdf079c-1...
1273,40080356,https://www.airbnb.com/rooms/40080356,https://a0.muscache.com/im/pictures/4e344929-8...
1274,40092525,https://www.airbnb.com/rooms/40092525,https://a0.muscache.com/im/pictures/525b2be9-f...
1275,40092989,https://www.airbnb.com/rooms/40092989,https://a0.muscache.com/im/pictures/786589a2-0...
1276,40327298,https://www.airbnb.com/rooms/40327298,https://a0.muscache.com/im/pictures/17b037d9-2...

In [22]:
# Host residing in New York
data = engine.execute("SELECT * FROM hosts WHERE host_location = 'New York, New York, United States';")
for record in data:
    print(record)

(461525, 2126399, 'https://www.airbnb.com/users/show/2126399', 'Crystal', '2012-04-12', 'New York, New York, United States', None)
(1840256, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(1855969, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(2038283, 4521987, 'https://www.airbnb.com/users/show/4521987', 'Kris', '2012-12-29', 'New York, New York, United States', '100%')
(2176599, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(2879039, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(3684345, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(3740822, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(4338244, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(4437529, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(4437789, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(4489577, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(6397721, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(12944416, 22541573, 'https://www.airbnb.com/users/show/22541573', 'Ken', '2014-10-14', 'New York, New York, United States', '100%')
(14974786, 6627353, 'https://www.airbnb.com/users/show/6627353', 'Phil', '2013-05-28', 'New York, New York, United States', '100%')
(15022874, 6627353, 'https://www.airbnb.com/users/show/6627353', 'Phil', '2013-05-28', 'New York, New York, United States', '100%')
(16826930, 22541573, 'https://www.airbnb.com/users/show/22541573', 'Ken', '2014-10-14', 'New York, New York, United States', '100%')
(18791077, 22541573, 'https://www.airbnb.com/users/show/22541573', 'Ken', '2014-10-14', 'New York, New York, United States', '100%')
(22338629, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(22339138, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(22339678, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(22339933, 9419684, 'https://www.airbnb.com/users/show/9419684', 'Mike', '2013-10-14', 'New York, New York, United States', '98%')
(30386484, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30389876, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30389899, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30389924, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30390003, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30390533, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30397057, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30397111, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(30489683, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(32324379, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(32783224, 3613138, 'https://www.airbnb.com/users/show/3613138', 'Eszter', '2012-09-19', 'New York, New York, United States', None)
(33028188, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(33183552, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(33341290, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(33341404, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(33551653, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(33596731, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(33787948, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(34132996, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(35786321, 76519427, 'https://www.airbnb.com/users/show/76519427', 'Erin', '2016-06-08', 'New York, New York, United States', '100%')
(35821512, 76519427, 'https://www.airbnb.com/users/show/76519427', 'Erin', '2016-06-08', 'New York, New York, United States', '100%')
(36402816, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(37142306, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(37696869, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(37814939, 255433680, 'https://www.airbnb.com/users/show/255433680', 'Jiaming', '2019-04-12', 'New York, New York, United States', '100%')
(37975180, 174201783, 'https://www.airbnb.com/users/show/174201783', 'Alam', '2018-02-19', 'New York, New York, United States', '100%')
(38015454, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(38015563, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(38404696, 186970542, 'https://www.airbnb.com/users/show/186970542', 'Jasmine', '2018-04-29', 'New York, New York, United States', '100%')
(38617180, 145573505, 'https://www.airbnb.com/users/show/145573505', 'Jasmine', '2017-08-11', 'New York, New York, United States', '100%')
(38656707, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(38838410, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(38838468, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(38844088, 161514654, 'https://www.airbnb.com/users/show/161514654', 'Hafou', '2017-12-05', 'New York, New York, United States', '100%')
(38915459, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(38925934, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(39116466, 246017238, 'https://www.airbnb.com/users/show/246017238', 'Shuting', '2019-02-28', 'New York, New York, United States', '100%')
(39239952, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(39747422, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(39747612, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(39866038, 17936854, 'https://www.airbnb.com/users/show/17936854', 'Alexander', '2014-07-10', 'New York, New York, United States', '100%')
(39908171, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(39908320, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(39908347, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')
(39908417, 107434423, 'https://www.airbnb.com/users/show/107434423', 'Blueground', '2016-12-16', 'New York, New York, United States', '96%')

In [23]:
# Property --> Bathrooms >= 4
data = engine.execute("SELECT id, name, property_type FROM listings_details WHERE bathrooms >= 4;")
for record in data:
    print(record)

(4242801, 'BIG QUEEN ROOM HARVARD MIT MGH BOSTON', 'House')
(19847550, '*New Construction Luxury Kendall Square Townhouse*', 'Townhouse')
(32573946, 'Harvard/Lesley/Tufts/MIT full 5-Br 3.5 bath house', 'House')
(34806032, 'NEW 4Bed House @ Harvard Sq--Parking+Private Yard!', 'House')
(35187780, 'Franklin Blue House', 'House')
(36197065, "Historic Richardson's Row In Harvard Square", 'Townhouse')

In [24]:
# Join --> listing locations and listings_details 
query = pd.read_sql_query("""
select listings_locations.id, listings_locations.city, listings_details.name
from listings_locations 
inner join listings_details
on listings_locations.id = listings_details.id;
""",
con=engine)

query.head()

      id       city                                               name
0   8521  Cambridge  SunsplashedSerenity near Harvard $1300/wk flex...
1  11169  Cambridge    Lovely Studio Room: Thu-Mons Near Universities!
2  11945  Cambridge                   Near Harvard: Safe & Lovely Room
3  19581  Cambridge                           Furnished suite, Windsor
4  22006  Cambridge                   B & B near Harvard's Quad Houses